{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-console": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
